aiohttp==3.9.3
aiosignal==1.3.1
anyio==3.3.4
appnope==0.1.2
argcomplete==3.2.2
argon2-cffi==21.1.0
async-timeout==4.0.3
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backoff==2.2.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.12.2
bleach==4.1.0
boto3==1.34.56
botocore==1.34.56
certifi==2023.7.22
cffi==1.15.0
cfn-flip==1.3.0
charset-normalizer==2.0.7
click==8.1.3
cohere==4.52
cryptography==35.0.0
cycler==0.10.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
durationpy==0.6
entrypoints==0.3
fastavro==1.9.4
filelock==3.3.2
Flask==2.2.2
Flask-Cors==4.0.0
fonttools==4.28.1
frozenlist==1.4.1
gdown==4.7.1
gradescope-utils==0.5.0
hjson==3.1.0
idna==3.3
importlib-metadata==6.11.0
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.0.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.6
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyter-server==1.11.1
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
kappa==0.6.0
kiwisolver==1.3.2
MarkupSafe==2.1.2
matplotlib==3.5.0
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==6.0.5
nbclassic==0.3.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.8.1
notebook==6.4.5
numpy==1.26.2
opencv-python==4.8.1.78
packaging==21.0
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
placebo==0.9.0
platformdirs==2.4.0
prometheus-client==0.11.0
prompt-toolkit==3.0.21
ptyprocess==0.7.0
pycparser==2.20
pygame==2.1.2
Pygments==2.10.0
pyotp==2.6.0
pyparsing==3.0.3
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-slugify==8.0.4
pytz==2021.3
PyYAML==6.0.1
pyzmq==22.3.0
regex==2022.10.31
requests==2.26.0
requests-unixsocket==0.2.0
robin-stocks==2.1.0
s3transfer==0.10.0
Send2Trash==1.8.0
setuptools-scm==6.3.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.5
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
toml==0.10.2
tomli==1.2.2
tornado==6.1
tqdm==4.64.1
traitlets==5.1.1
troposphere==4.6.0
urllib3==1.26.7
virtualenv==20.9.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.2.2
yarl==1.9.4
zipp==3.17.0
